body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.square{
  width: 100px;
  height: 100px;
  border: 1px solid #9400D3;
  display: inline-block;
  border-radius: 5px;
  margin-right: 4px;
}

.square img{
  width: 100px;
  height: 100px;
}

.play {
  text-align: center;
  margin-top: 50px;
}
